<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../assets/images/cloud-flash.png" type="images/x-icon">
        <title>Storm</title>

        <!--Estilos CSS-->
        <link rel="stylesheet" href="../styles/css/pagCatalogoCompra.css" type="text/css">

        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    </head>

    <body>

        <header> <!--Inico do cabeçalho-->
            <div id="cabecalho">
                <img href="../assets/images/topo1.png">
                <h1 id="logo">Storm</h1>

                <ul>
                    <li><a href="pagInicial.html">home</a></li>
                    <li><a href="pagCatalogo.html" class="destaque">comprar</a></li>
                    <li><a href="" class="destaque">vender</a></li>
                    <li><a href="">ajuda</a></li>
                    <li><a href="">contato</a></li>
                </ul>

                <input class="pesquisa" type="text" name="pesquisar" id="pesquisa" placeholder="O que você vai comprar hoje?">

                <div id="usuario">    
                    <div class="btn-group"  style="float: right;">
                        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><img src="../assets/images/img-usuario.png" alt="">Usuário</button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="../view/pagPerfil.html">Pedidos</a></li>
                            <li><a class="dropdown-item" href="../view/pagPerfil.html">Dados</a></li>
                            <li><a class="dropdown-item" href="../view/pagEnderecos.html">Endereços</a></li>
                        </ul>
                    </div>
                </div>

                <a id="carrinho" href="">
                    <img src="../assets/images/sacola-de-compras-quadrada-com-alca.png" alt="carrinho" width="27px">
                </a>

            </div>

        </header> <!--Fim do cabeçalho-->

        <main> <!--Inico do corpo da página-->

            <div id="topo"> <!--Inicio do topo-->
                    <a id="voltar"href="pagInicial.html" class="btn btn-outline-dark">Voltar</a>
            </div> <!--Fim do topo-->

            <div id="centro">
            
                  <div id="imagen-principal">
                     <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="">
                  </div>

                   <div id="imagens-secundarias">
                        <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="">
                        <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="">
                        <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="">
                        <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="">
                  </div>

                   <div id="info-comprar">
                    <h1>Produto 1 - Nova Linha Especial</h1>
                    <h1>R$ 156,00</h1>
                    <h2>10x 15,60 sem juros</h2>
                
                    <h3><img src="../assets/images/caminhao-de-entrega.png" alt="">entrega grátis</h3>
                    <div id="adicionar-carrinho">
                    <a href="pagCarrinho.html" class="btn btn-outline-dark">Adicionar ao Carrinho</a>
                    </div>
                    <div id="comprar-agora">
                    <a href="pagCarrinho.html" class="btn btn-success">Comprar Agora</a>
                    </div>
            </div>

                <div>
                        <div id="descricao">
                            <h2>Descrição</h2>
                            <h3>Uma descrição de produto fornece detalhes sobre recursos, indicações, utilizações e benefícios para ajudar a gerar uma venda. A qualidade do texto pode estimular ou interromper a conversão, especialmente se não incluir informações que o visitante precisa para decidir pela compra.</h3>
                            
                        </div>
                        <div id="descricao">
                            <h2>Especificações Técnicas</h2>
                            <h3>Marca: Nova marca <p></p>Modelo: Novo modelo <p></p> Voltagem: Bivolt</h3>
                        </div>
                </div>
            </div>

            <!--PRODUTOS RELACIONADOS-->

            <div class="navegacao">

                <h2>Produtos Relacionados</h2>

                <div class="item">
                    <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="item">
                               
                    <h4>nome do produto</h4>

                    <h3>R$ 00,00</h3>
                    <h5>0x 00,00 sem juros</h5>
                    <h6>Entrega gratis</h6>

                    <div>
                        <a href="">Adicionar ao carrinho</a>
                    </div>
                </div>

                <div class="item">
                    <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="item">
                               
                    <h4>nome do produto</h4>

                    <h3>R$ 00,00</h3>
                    <h5>0x 00,00 sem juros</h5>
                    <h6>Entrega gratis</h6>

                    <div>
                        <a href="">Adicionar ao carrinho</a>
                    </div>
                </div>

                <div class="item">
                    <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="item">
                               
                    <h4>nome do produto</h4>

                    <h3>R$ 00,00</h3>
                    <h5>0x 00,00 sem juros</h5>
                    <h6>Entrega gratis</h6>

                    <div>
                        <a href="">Adicionar ao carrinho</a>
                    </div>
                </div>

                <div class="item">
                    <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="item">
                               
                    <h4>nome do produto</h4>

                    <h3>R$ 00,00</h3>
                    <h5>0x 00,00 sem juros</h5>
                    <h6>Entrega gratis</h6>

                    <div>
                        <a href="">Adicionar ao carrinho</a>
                    </div>
                </div>

                <div class="item">
                    <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="item">
                               
                    <h4>nome do produto</h4>

                    <h3>R$ 00,00</h3>
                    <h5>0x 00,00 sem juros</h5>
                    <h6>Entrega gratis</h6>

                    <div>
                        <a href="">Adicionar ao carrinho</a>
                    </div>
                </div>

            </div>

        </main> <!--Fim do corpo da página-->

        <footer> <!--Inico do rodapé-->
            
            <div class="container">
                <ul>
                    <li><a href="">Trabalhe conosco</a></li>
                    <li><a href="">Termos e condições</a></li>
                    <li><a href="">Contato</a></li>
                </ul>

                <br>
                &copy; Copyright 2022-2022 Projeto PWEB <br>
                Rua Francisco Mota Bairro, 572 - Pres. Costa e Silva, Mossoró - RN, 59625-900  UFERSA

                

            </div>

        </footer> <!--Fim do rodapé-->
        
    </body>
</html>