<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="imagens/cloud-flash.png" type="image/x-icon">
        <title>Catalógo de produtos</title>

        <!--Estilos CSS-->
        <link rel="stylesheet" href="../styles/css/pagCatalogo.css" type="text/css">

        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    </head>

    <body>

        <header> <!--Inico do cabeçalho-->
            <div id="cabecalho">
                <h1 id="logo">Storm</h1>

                <ul>
                    <li><a href="pagInicial.html">home</a></li>
                    <li><a href="catalogo.html" class="destaque">comprar</a></li>
                    <li><a href="" class="destaque">vender</a></li>
                    <li><a href="">ajuda</a></li>
                    <li><a href="">contato</a></li>
                </ul>


                <div class="espaco"></div>

                <a id="usuario" href="pagPerfil.html">
                    <img src="../assets/images/img-usuario.png" alt=""> <p>Usuário</p>
                </a>
                <a id="carrinho" href="">
                    <img src="../assets/images/sacola-de-compras-quadrada-com-alca.png" alt="carrinho" width="27px">
                </a>
                

            </div>

        </header> <!--Fim do cabeçalho-->

        <main> <!--Inicio do corpo do catálogo-->

            <div class="topo-catalogo">
                
                <div class="container">
                    <input class="pesquisa" type="text" name="pesquisar" id="pesquisa" placeholder="O que está procurando hoje?">
                </div>

                <div class="categorias">

                    <h2>Categorias</h2>
    
                    <div class="categoria">
                        <img src="../assets/images/sacola-de-compras-quadrada-com-alca.png" alt="">
                        <p>Nome</p>
                    </div>
    
                    <div class="categoria">
                        <img src="../assets/images/sacola-de-compras-quadrada-com-alca.png" alt="">
                        <p>Nome</p>
                    </div>
    
                    <div class="categoria">
                        <img src="../assets/images/sacola-de-compras-quadrada-com-alca.png" alt="">
                        <p>Nome</p>
                    </div>
    
                    <div class="categoria">
                        <img src="../assets/images/sacola-de-compras-quadrada-com-alca.png" alt="">
                        <p>Nome</p>
                    </div>
    
                    <div class="categoria">
                        <img src="../assets/images/sacola-de-compras-quadrada-com-alca.png" alt="">
                        <p>Nome</p>
                    </div>
    
                    <div class="categoria">
                        <img src="../assets/images/sacola-de-compras-quadrada-com-alca.png" alt="">
                        <p>Nome</p>
                    </div>
    
                    <div class="categoria">
                        <img src="../assets/images/sacola-de-compras-quadrada-com-alca.png" alt="">
                        <p>Nome</p>
                    </div>
    
                    <div class="categoria">
                        <img src="../assets/images/sacola-de-compras-quadrada-com-alca.png" alt="">
                        <p>Nome</p>
                    </div>
    
                    <div class="categoria">
                        <img src="../assets/images/sacola-de-compras-quadrada-com-alca.png" alt="">
                        <p>Nome</p>
                    </div>
    
                    <div class="categoria">
                        <img src="../assets/images/sacola-de-compras-quadrada-com-alca.png" alt="">
                        <p>Nome</p>
                    </div>
    
                    <div class="categoria">
                        <img src="../assets/images/sacola-de-compras-quadrada-com-alca.png" alt="">
                        <p>Nome</p>
                    </div>
    
                    <div class="categoria">
                        <img src="../assets/images/sacola-de-compras-quadrada-com-alca.png" alt="">
                        <p>Nome</p>
                    </div>
    
                    <div class="categoria">
                        <img src="../assets/images/sacola-de-compras-quadrada-com-alca.png" alt="">
                        <p>Nome</p>
                    </div>
    
                    <div class="categoria">
                        <img src="../assets/images/sacola-de-compras-quadrada-com-alca.png" alt="">
                        <p>Nome</p>
                    </div>
    
                    <div class="categoria">
                        <img src="../assets/images/sacola-de-compras-quadrada-com-alca.png" alt="">
                        <p>Nome</p>
                    </div>
    
                    <div class="categoria">
                        <img src="../assets/images/sacola-de-compras-quadrada-com-alca.png" alt="">
                        <p>Nome</p>
                    </div>
    
                </div>

            </div>

            <div class="divisao">

                <div class="menu1">
                    <ul>
                        <li><a href="">ofertas</a></li>
                        <li><a href="">novidades</a></li>
                        <li><a href="">mais vendidos</a></li>
                    </ul>
                </div>

                <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="">

            </div>

            <div class="container dados-pesquisa">

                <div style="float: left;">
                    <h2>Resultados de sua Busca <strong>“nome da busca”</strong></h2>
                    <h4>Exibindo 16 de 101 produtos</h4>
                </div>

                <div class="btn-group"  style="float: right;">
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Ordenar por:</button>
                    <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Menor preço</a></li>
                    <li><a class="dropdown-item" href="#">Maior preço</a></li>
                    <li><a class="dropdown-item" href="#">Cor</a></li>
                    <li><a class="dropdown-item" href="#">Tamanho</a></li>
                    </ul>
                </div>

            </div>

            <div class="colunas">

                <div class="coluna-principal">

                    <div class="item">
                        <a href="pagCatalogoCompra.html">
                            <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="item">
                                        
                            <h4>nome do produto</h4>
        
                            <h3>R$ 00,00</h3>
                            <h5>0x 00,00 sem juros</h5>
                            <h6>Entrega gratis</h6>
        
                            <div>
                                <a class="adicinar-carrinho" href="">Adicionar ao carrinho</a>
                            </div>
                        </a>
                    </div>
    
                    <div class="item">
                        <a href="pagCatalogoCompra.html">
                            <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="item">
                                        
                            <h4>nome do produto</h4>
        
                            <h3>R$ 00,00</h3>
                            <h5>0x 00,00 sem juros</h5>
                            <h6>Entrega gratis</h6>
        
                            <div>
                                <a class="adicinar-carrinho" href="">Adicionar ao carrinho</a>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="pagCatalogoCompra.html">
                            <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="item">
                                        
                            <h4>nome do produto</h4>
        
                            <h3>R$ 00,00</h3>
                            <h5>0x 00,00 sem juros</h5>
                            <h6>Entrega gratis</h6>
        
                            <div>
                                <a class="adicinar-carrinho" href="">Adicionar ao carrinho</a>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="pagCatalogoCompra.html">
                            <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="item">
                                        
                            <h4>nome do produto</h4>
        
                            <h3>R$ 00,00</h3>
                            <h5>0x 00,00 sem juros</h5>
                            <h6>Entrega gratis</h6>
        
                            <div>
                                <a class="adicinar-carrinho" href="">Adicionar ao carrinho</a>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="pagCatalogoCompra.html">
                            <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="item">
                                        
                            <h4>nome do produto</h4>
        
                            <h3>R$ 00,00</h3>
                            <h5>0x 00,00 sem juros</h5>
                            <h6>Entrega gratis</h6>
        
                            <div>
                                <a class="adicinar-carrinho" href="">Adicionar ao carrinho</a>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="pagCatalogoCompra.html">
                            <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="item">
                                        
                            <h4>nome do produto</h4>
        
                            <h3>R$ 00,00</h3>
                            <h5>0x 00,00 sem juros</h5>
                            <h6>Entrega gratis</h6>
        
                            <div>
                                <a class="adicinar-carrinho" href="">Adicionar ao carrinho</a>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="pagCatalogoCompra.html">
                            <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="item">
                                        
                            <h4>nome do produto</h4>
        
                            <h3>R$ 00,00</h3>
                            <h5>0x 00,00 sem juros</h5>
                            <h6>Entrega gratis</h6>
        
                            <div>
                                <a class="adicinar-carrinho" href="">Adicionar ao carrinho</a>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="pagCatalogoCompra.html">
                            <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="item">
                                        
                            <h4>nome do produto</h4>
        
                            <h3>R$ 00,00</h3>
                            <h5>0x 00,00 sem juros</h5>
                            <h6>Entrega gratis</h6>
        
                            <div>
                                <a class="adicinar-carrinho" href="">Adicionar ao carrinho</a>
                            </div>
                        </a>
                    </div>
    
                    <div class="item">
                        <a href="pagCatalogoCompra.html">
                            <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="item">
                                        
                            <h4>nome do produto</h4>
        
                            <h3>R$ 00,00</h3>
                            <h5>0x 00,00 sem juros</h5>
                            <h6>Entrega gratis</h6>
        
                            <div>
                                <a class="adicinar-carrinho" href="">Adicionar ao carrinho</a>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="pagCatalogoCompra.html">
                            <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="item">
                                        
                            <h4>nome do produto</h4>
        
                            <h3>R$ 00,00</h3>
                            <h5>0x 00,00 sem juros</h5>
                            <h6>Entrega gratis</h6>
        
                            <div>
                                <a class="adicinar-carrinho" href="">Adicionar ao carrinho</a>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="pagCatalogoCompra.html">
                            <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="item">
                                        
                            <h4>nome do produto</h4>
        
                            <h3>R$ 00,00</h3>
                            <h5>0x 00,00 sem juros</h5>
                            <h6>Entrega gratis</h6>
        
                            <div>
                                <a class="adicinar-carrinho" href="">Adicionar ao carrinho</a>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="pagCatalogoCompra.html">
                            <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="item">
                                        
                            <h4>nome do produto</h4>
        
                            <h3>R$ 00,00</h3>
                            <h5>0x 00,00 sem juros</h5>
                            <h6>Entrega gratis</h6>
        
                            <div>
                                <a class="adicinar-carrinho" href="">Adicionar ao carrinho</a>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="pagCatalogoCompra.html">
                            <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="item">
                                        
                            <h4>nome do produto</h4>
        
                            <h3>R$ 00,00</h3>
                            <h5>0x 00,00 sem juros</h5>
                            <h6>Entrega gratis</h6>
        
                            <div>
                                <a class="adicinar-carrinho" href="">Adicionar ao carrinho</a>
                            </div>
                        </a>
                    </div>

                    <div class="item">
                        <a href="pagCatalogoCompra.html">
                            <img src="../assets/images/kisspng-shopping-bag-cartoon-fashion-shopping-bags-5a810a5eab7012.5003817015184062387022.png" alt="item">
                                        
                            <h4>nome do produto</h4>
        
                            <h3>R$ 00,00</h3>
                            <h5>0x 00,00 sem juros</h5>
                            <h6>Entrega gratis</h6>
        
                            <div>
                                <a class="adicinar-carrinho" href="">Adicionar ao carrinho</a>
                            </div>
                        </a>
                    </div>
                    
                    <div class="paginas">
                        <a href="">Anterir</a>
                        <a href="">2</a>
                        <a href="">3</a>
                        <a href="">4</a>
                        <a href="">Próximo</a>
                    </div>
                    
                </div>

                <div class="coluna-secundaria">
                    <h2>Categoria</h2>

                    <div>
                        <input type="checkbox" id="categoria1" name="categria1">
                        <label for="categoria1">Categoria 1</label>
                    </div>

                    <div>
                        <input type="checkbox" id="categoria2" name="categria2">
                        <label for="categoria2">Categoria 2</label>
                    </div>

                    <div>
                        <input type="checkbox" id="categoria3" name="categria3">
                        <label for="categoria3">Categoria 3</label>
                    </div>

                    <div>
                        <input type="checkbox" id="categoria4" name="categria4">
                        <label for="categoria4">Categoria 4</label>
                    </div>

                    <h2>Tamanho</h2>

                    <div>
                        <input type="checkbox" id="P" name="P">
                        <label for="P">P</label>
                    </div>

                    <div>
                        <input type="checkbox" id="M" name="M">
                        <label for="M">M</label>
                    </div>

                    <div>
                        <input type="checkbox" id="G" name="G">
                        <label for="G">G</label>
                    </div>

                    <div>
                        <input type="checkbox" id="GG" name="GG">
                        <label for="GG">GG</label>
                    </div>

                </div>

            </div>


        </main> <!--Fim do corpo do catálogo-->

    </body>