/*Configurações gerais*/
*{
    margin: 0;
    padding: 0;
}

body{
    justify-items: center;
    background: red;
}

@font-face{
    font-family: Cubos;
    src: url(../fontes/Cubos.woff);
}

@font-face {
    font-family: Quicksand;
    src: url(../fontes/Quicksand_Book.woff);
}

/*-------------------------------------------------------*/
/*Cabeçalho*/
header{
    display: table;
    width: 100%;
    height: 20px;
}

#cabecalho{
    display: flex;
    align-items: center;
}

#logo{
    font-family: Cubos;
    color: black;
    margin-left: 5px;
    float: left;
    padding-bottom: 6px;
}

#cabecalho ul{
    margin: 0 0 0 3px;
    padding: 0;
    list-style: none;
    float: left;
}

#cabecalho ul li{
    float: left;
    font-family: Quicksand;
}

#cabecalho ul li a{
    display: block;
    padding: 0 1em;
    line-height: 2.2em;
    text-decoration: none;
    color: black;
}

#cabecalho ul li a.destaque{
    color: #00C389;
}

#cabecalho ul a:hover{
    font-weight: 800;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.pesquisa{
    height: 30px;
    width: 300px;
    padding-left: 8px;
    padding-bottom: 3px;
    background-image: url(../imagens/lupa-arredondada.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 265px;
    border-color: #928f8f;
    border-radius: 20px;
    margin-left: 320px;
}

#usuario{
    width: 98px;
    margin-top: 10px;
    margin-left: 5px;
}

#usuario img{
    float: left;
    margin: 0;
}

#usuario p{
    float: right;
    margin-top: 3px;
    color: black;
    font-family: Quicksand;
}

#usuario p:hover{
    font-weight: 800;
}

#carrinho{
    margin-left: 5px;
    margin-bottom: 4px;
}

/*-------------------------------------------------------*/
/*Corpo da página*/
#topo{
    background: url(../imagens/topo1.png) no-repeat;
    width: 100%;
    height: 676px;
}

.divisao{
    width: 100%;
    height: 220px;
    position: relative;
}

.divisao img{
    width: 339px;
    height: 215px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.menu1{
    background-color: #042630;
    width: 100%;
    height: 129px;
    margin-top: 30px;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}