/*Configurações gerais*/
*{
    margin: 0;
    padding: 0;
}

body{
    justify-items: center;
}

@font-face{
    font-family: Cubos;
    src: url(../../assets/fonts/Cubos.woff);
}

@font-face {
    font-family: Quicksand;
    src: url(../../assets/fonts/Quicksand_Book.woff);
}

/*-------------------------------------------------------*/
/*Cabeçalho*/
header{
    display: table;
    width: 100%;
    height: 20px;
}

#cabecalho{
    display: flex;
    align-items: center;
}

#logo{
    font-family: Cubos;
    color: black;
    margin-left: 5px;
    float: left;
    padding-bottom: 6px;
}

#cabecalho ul{
    margin: 0 0 0 3px;
    padding: 0;
    list-style: none;
    float: left;
}

#cabecalho ul li{
    float: left;
    font-family: Quicksand;
}

#cabecalho ul li a{
    display: block;
    padding: 0 1em;
    line-height: 2.2em;
    text-decoration: none;
    color: black;
}

#cabecalho ul li a.destaque{
    color: #00C389;
}

#cabecalho ul a:hover{
    font-weight: 800;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.pesquisa{
    height: 30px;
    width: 400px;
    padding-left: 8px;
    padding-bottom: 3px;
    background-image: url(../../assets/images/lupa-arredondada.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 365px;
    border-color: #928f8f;
    border-radius: 20px;
    margin-left: 320px;
}

#usuario{
    width: 120px;
    margin-top: 22px;
    margin-left: 5px;
}

#usuario img{
    float: left;
    margin:0;
}

#usuario p{
    float: right;
    margin-top: 3px;
    color: black;
    font-family: Quicksand;
}

#usuario p:hover{
    font-weight: 800;
}

#carrinho{
    margin-left: 5px;
    margin-bottom: 4px;
}

/*-------------------------------------------------------*/
/*Corpo da página*/
#topo{
    background-image: url("../../assets/images/topo1.png");
    background-position: 0px -250px;
    background-repeat: repeat-x;
    width: 100%;
    height: 850px;
}

#centro{
    background-color: white;
    width: 100%;
    height: 700px;
}

#voltar{
    position: relative;
    top: 190px;
    left: 30px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
}

#imagen-principal{
    position: absolute;
    width: 605px;
    height: 406px;
    left: 29px;
    top: 324px;
    
    border: 2px solid #000000;
    box-sizing: border-box;
}

#imagen-principal img{
    position: relative;
    width: 502px;
    height: 335px;
    top: 30px;
    left: 50px;
    
}

#imagens-secundarias{
    position: absolute;
    height: 110px;
    left: 29px;
    top: 739px;

}

#imagens-secundarias img{
    position: relative;
    width: 114px;
    height: 70px;

    top: 20px;
    border: 2px solid #000000;
    box-sizing:content-box;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 12px;

}

#info-comprar{
    position: absolute;
    width: 700px;
    height: 539px;
    left: 714px;
    top: 310px;
}

#info-comprar h1{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin-top: 40px;
}

#info-comprar h2{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #00A1AB;
}

#info-comprar h3{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    color: #00C489;
}

#info-comprar img{
    width: 34px;
    height: 34px;
    margin-right: 10px;
}

#adicionar-carrinho{
    margin-top: 20px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
}

#comprar-agora{
    margin-top: 10px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
}

#descricao{
    border-top: 5px solid #00A1AB;
}

#descricao h2{
    margin-top: 20px;
    margin-left: 20px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 44px;
    color: #00A1AB;
}

#descricao h3{
    margin-left: 20px;
    width: 494px;
    height: 248px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    text-align: justify;
    color: #000000;
    border-right: 5px solid #00A1AB;
    padding-right: 20px;
}

.navegacao{
    padding: 10px 10px 0 10px;
}

.navegacao h2{
    font-size: 35px;
    font-family: 'Quicksand';
    font-weight: 600;
}

.item{
    width: 212px;
    height: 260px;
    background: #D0D6D6;
    padding: 10px;
    display: inline-block;
    margin-right: 10px;
}

.item img{
    width: 180px;
    margin: 0 7px 0 7px;
}

.item h4{
    font-family: 'Quicksand';
    text-transform: uppercase;
    color: #042630;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
    padding-top: 2px;
}

.item h3{
    font-family: 'Quicksand';
    font-size: 20px;
    padding-top: 2px;
    margin-bottom: 0;
}

.item h5{
    font-family: 'Quicksand';
    font-size: 15px;
    padding-top: 2px;
    margin-bottom: 2px;
}

.item h6{
    font-family: 'Quicksand';
    color: #00C389;
}

.item div{
    background-color: #041421;
    border-radius: 5px;
    text-align: center;
}

.item a{
    text-decoration: none;
    color: white;
    font-family: 'Quicksand';
}
/*-------------------------------------------------------*/
/*Rodapé*/
footer{
    background-color: #86B9B0;
    margin-top: 10px;
    font-family: 'Quicksand';
    color: white;
    padding: 5px 0 10px 0;
    text-align: left;
}

footer ul{
    list-style: none;
    padding-bottom: 2px;
}

footer ul li{
    float: left;
    margin-left: -35px;
}

footer ul a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-right: 70px;
    font-weight: 1000;
}