/*Configurações gerais*/
*{
    margin: 0;
    padding: 0;
}

body{
    justify-items: center;
}

@font-face{
    font-family: Cubos;
    src: url(../../assets/fonts/Cubos.woff);
}

@font-face {
    font-family: Quicksand;
    src: url(../../assets/fonts/Quicksand_Book.woff);
}

/*-------------------------------------------------------*/
/*Cabeçalho*/
header{
    display: table;
    width: 100%;
    height: 20px;
}

#cabecalho{
    display: flex;
    align-items: center;
}

#logo{
    font-family: Cubos;
    color: black;
    margin-left: 5px;
    float: left;
    padding-bottom: 6px;
}

#cabecalho ul{
    margin: 0 0 0 3px;
    padding: 0;
    list-style: none;
    float: left;
}

#cabecalho ul li{
    float: left;
    font-family: Quicksand;
}

#cabecalho ul li a{
    display: block;
    padding: 0 1em;
    line-height: 2.2em;
    text-decoration: none;
    color: black;
}

#cabecalho ul li a.destaque{
    color: #00C389;
}

#cabecalho ul a:hover{
    font-weight: 800;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.espaco{
    margin-left: 620px;
}

#usuario{
    width: 120px;
    margin-top: 22px;
    margin-left: 5px;
}

#usuario img{
    float: left;
    margin:0;
}

#usuario p{
    float: right;
    margin-top: 3px;
    color: black;
    font-family: Quicksand;
}

#usuario p:hover{
    font-weight: 800;
}

#carrinho{
    margin-left: 5px;
    margin-bottom: 4px;
}

/*-------------------------------------------------------*/
/*Corpo da página*/

.topo-catalogo{
    background-image: url(../../assets/images/topo-catalogo.png);
    height: 697px;
}

.pesquisa{
    height: 50px;
    width: 100%;
    margin-top: 70px;
    padding-left: 8px;
    padding-bottom: 3px;
    background-image: url(../../assets/images/lupa-arredondada.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 98%;
    border-color: #928f8f;
    border-radius: 16px;
    font-size: 25px;
}

.categorias{
    text-align: center;
    margin: 30px 0 80px 0;
}

.categorias h2{
    color: white;
    font-size: 48px;
    margin-bottom: 15px;
}

.categoria{
    background-color: white;
    border: 4px solid black;
    border-radius: 15px;
    width: 132px;
    height: 116px;
    padding-top: 5px;
    margin: 10px 20px 0 0;
    display: inline-block;
}

.categoria img{
    width: 65px;
    height: 65px;
}

.categoria p{
    font-family: 'Quicksand';
    font-size: 20px;
}

.divisao{
    width: 100%;
    height: 220px;
    position: relative;
}

.divisao img{
    width: 339px;
    height: 215px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.menu1{
    background-color: #042630;
    width: 100%;
    height: 129px;
    margin-top: 30px;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu1 ul{
    list-style: none;
    float: right;
    margin: 40px 90px 0 0;
}

.menu1 ul li{
    float: left;
}

.menu1 ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Quicksand';
    margin-left: 10px;
    font-size: 30px;
    font-weight: 1000;
    margin-left: 50px;
}

.dados-pesquisa{
    margin-top: 30px;
    font-family: 'Quicksand';
    color: black;
}

.colunas{
    margin-top: 30px;
    clear: both;
}

.coluna-principal{
    width: 940px;
    height: 1538px;
    margin: 5px 15px 0 10px;
    float: right;
}

.item{
    width: 212px;
    height: 260px;
    background: #D0D6D6;
    padding: 10px;
    display: inline-block;
    margin: 0 9px 40px 9px;

}

.item a{
    text-decoration: none;
    color: black;
    font-family: 'Quicksand';
}

.item:hover{
    border: 1px solid black;
    margin: 0 8.5px 40px 8.5px;
}

.item img{
    width: 180px;
    margin: 0 7px 0 7px;
}

.item h4{
    font-family: 'Quicksand';
    text-transform: uppercase;
    color: #042630;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
    padding-top: 2px;
}

.item h3{
    font-family: 'Quicksand';
    font-size: 20px;
    padding-top: 2px;
    margin-bottom: 0;
}

.item h5{
    font-family: 'Quicksand';
    font-size: 15px;
    padding-top: 2px;
    margin-bottom: 2px;
}

.item h6{
    font-family: 'Quicksand';
    color: #00C389;
}

.item div{
    background-color: #041421;
    border-radius: 5px;
    text-align: center;
}

.item a.adicinar-carrinho{
    text-decoration: none;
    color: white;
    font-family: 'Quicksand';
}

.paginas{
    clear: both;
    text-align: center;
}

.paginas a{
    text-decoration: none;
    background-color: #928f8f;
    border: 6px solid #928f8f;
    border-radius: 4px;
    font-family: 'Quicksand';
    font-size: 20px;
    color: white;
    margin-left: 5px;
}

.coluna-secundaria{
    width: 351px;
    height: 1538px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 5px 0 5px 15px;
    padding: 10px;
    float: left;
}