/*Configurações gerais*/
*{
    margin: 0;
    padding: 0;
}

body{
    justify-items: center;
}

@font-face{
    font-family: Cubos;
    src: url(../../assets/fonts/Cubos.woff);
}

@font-face {
    font-family: Quicksand;
    src: url(../../assets/fonts/Quicksand_Book.woff);
}

/*-------------------------------------------------------*/
/*Cabeçalho*/
header{
    display: table;
    width: 100%;
    height: 20px;
}

#cabecalho{
    display: flex;
    align-items: center;
}

#logo{
    font-family: Cubos;
    color: black;
    margin-left: 5px;
    float: left;
    padding-bottom: 6px;
}

#cabecalho ul{
    margin: 0 0 0 3px;
    padding: 0;
    list-style: none;
    float: left;
}

#cabecalho ul li{
    float: left;
    font-family: Quicksand;
}

#cabecalho ul li a{
    display: block;
    padding: 0 1em;
    line-height: 2.2em;
    text-decoration: none;
    color: black;
}

#cabecalho ul li a.destaque{
    color: #00C389;
}

#cabecalho ul a:hover{
    font-weight: 800;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.pesquisa{
    height: 30px;
    width: 400px;
    padding-left: 8px;
    padding-bottom: 3px;
    background-image: url(../../assets/images/lupa-arredondada.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 365px;
    border-color: #928f8f;
    border-radius: 20px;
    margin-left: 200px;
}

#usuario{
    width: 110px;
    margin-top: 10px;
    margin-left: 5px;
}

#usuario img{
    float: left;
    margin:0;
}

#usuario p{
    float: right;
    margin-top: 3px;
    color: black;
    font-family: Quicksand;
}

#usuario p:hover{
    font-weight: 800;
}

#carrinho{
    margin-left: 20px;
}

/*-------------------------------------------------------*/
/*Corpo da página*/
#topo{
    background-repeat: repeat-x;
    background-image: url("../../assets/images/topo1.png");
    width: 100%;
    height: 676px;
}

.mensagem{
    width: 708px;
    float: left;
    margin-top: 50px;
}

.mensagem h1{
    font-family: 'Cubos';
    font-size: 60px;
    color: black;
}

.mensagem h2{
    font-family: 'Quicksand';
    font-size: 34px;
    color: white;
    font-weight: 600;
}

.mensagem p{
    font-family: 'Quicksand';
    font-size: 18px;
    color: white;
}

.mensagem a{
    text-decoration: none;
    color: white;
    font-family: 'Quicksand';
    font-size: 20px;
    
}

.botao{
    background-color: #041421;
    border-radius: 10px;
    width: 212px;
    height: 32px;
    text-align: center;
}

.container img.imagem{
    width: 322px;
    height: 372px;
    float: right;
    margin-top: 5px;
}

.informacoes{
    clear: both;
    margin-top: 80px;
    font-family: 'Quicksand';
    font-size: 20px;
    text-align: center;
}

.informacoes div{
    align-items: center;
    text-align: center;
    display: inline-table;
    margin: 110px 20px 5px 20px;
}

.informacoes img{
    width: 70.47px;
    height: 70.47px;
}

.informacoes h3{
    font-weight: 1000;
    margin-bottom: 0;
}

.divisao{
    width: 100%;
    height: 220px;
    position: relative;
}

.divisao img{
    width: 339px;
    height: 215px;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%, -50%);
}

.menu1{
    background-color: #042630;
    width: 100%;
    height: 129px;
    margin-top: 30px;
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu1 ul{
    list-style: none;
    margin: 40px 30px 0 0;
}

.menu1 ul li{
    float: left;
}

.menu1 ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Quicksand';
    margin-left: 10px;
    font-size: 30px;
    font-weight: 1000;
    margin-left: 50px;
}

.navegacao{
    padding: 10px 10px 0 10px;
    margin-left: 50px;
}

.navegacao h2{
    font-size: 35px;
    font-family: 'Quicksand';
    font-weight: 600;
}

.item{
    width: 212px;
    height: 260px;
    background: #D0D6D6;
    padding: 10px;
    display: inline-block;
    margin-right: 10px;
}

.item img{
    width: 180px;
    margin: 0 7px 0 7px;
}

.item h4{
    font-family: 'Quicksand';
    text-transform: uppercase;
    color: #042630;
    font-size: 15px;
    font-weight: 900;
    text-align: center;
    padding-top: 2px;
}

.item h3{
    font-family: 'Quicksand';
    font-size: 20px;
    padding-top: 2px;
    margin-bottom: 0;
}

.item h5{
    font-family: 'Quicksand';
    font-size: 15px;
    padding-top: 2px;
    margin-bottom: 2px;
}

.item h6{
    font-family: 'Quicksand';
    color: #00C389;
}

.item div{
    background-color: #041421;
    border-radius: 5px;
    text-align: center;
}

.item a{
    text-decoration: none;
    color: white;
    font-family: 'Quicksand';
}

.categorias{
    text-align: center;
    margin: 50px 0 80px 0;
}

.categorias h2{
    margin-bottom: 30px;
}

.categoria{
    border: 4px solid black;
    border-radius: 15px;
    width: 132px;
    height: 116px;
    padding-top: 5px;
    margin: 10px 20px 0 0;
    display: inline-block;
}

.categoria img{
    width: 65px;
    height: 65px;
}

.categoria p{
    font-family: 'Quicksand';
    font-size: 20px;
}

/*-------------------------------------------------------*/
/*Rodapé*/
footer{
    background-color: #86B9B0;
    margin-top: 10px;
    font-family: 'Quicksand';
    color: white;
    padding: 5px 0 10px 0;
    text-align: left;
}

footer ul{
    list-style: none;
    padding-bottom: 2px;
}

footer ul li{
    float: left;
    margin-left: -35px;
}

footer ul a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin-right: 70px;
    font-weight: 1000;
}